*{
  padding: 0;
  margin : 0;
  font-size: 1.1rem;
}

body{
  height:100vh;
  background-image:url("./images/bg-desktop-dark.jpg");
  background-color:  hsl(235, 21%, 11%);
  background-repeat: no-repeat;
  background-size: 100% 35%;
  color:hsl(236, 33%, 92%);
}
h1 {
  display: inline-block;
}
/* app css */
.app{
  position:relative;    /* image is absolute to its relative parent */
/* border: 2px solid yellow; */
  max-width: 50%;
  min-width:30rem;
  right:25%;
  left:25%;
  top:4rem;
}



/* heading css  */
header{
  /* margin-bottom: 1rem; */
  padding: 1rem;
}
.brightness{
  color: white;
  background-color: white;
  width:1.5rem;
  height:1.5rem;
  position:absolute;
  right:1.5rem;
  top:1.7rem;
}

/* input css */
input{
  background-color: hsl(235, 24%, 19%);
  width:100%;
  height:2.8rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border:0;
  border-radius: 0.3rem;
  color: white;
}


/* displa css */
.display{
    background-color: hsl(235, 24%, 19%);
    border-radius: 0.3rem;
    padding: 1rem;
}

h5{
  text-align: center;
}
footer{
  display: flex;
  position: relative;
  margin:1rem 0;
}
a{
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

footer :last-child {
  margin-left: auto;
  color:#F37878;
}


/* add input  */

.checkbox{
  margin: 1rem;
  width: 1rem;
  height:1rem;
  color:#F9F9F9;
}
.tasks{
  display: inline;
}
.fa-circle-minus{
  position:absolute;
  margin:1rem;
  right:0;
  color:#F37878;
}
.displayinput{
  border-bottom: 1px solid hsl(236, 9%, 61%);
}
































/* sd */
